/*FUENTES*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');

/*VARIABLES*/
.cartas-etnv {
    --grdp: linear-gradient(to left, var(--acento), hsl(from var(--acento) calc(h + var(--hsl)) s l));
    --onda1: polygon(100% 0%, 0% 0%, 0.00% 69.11%, 1.00% 69.02%, 2.00% 68.76%, 3.00% 68.33%, 4.00% 67.74%, 5.00% 66.98%, 6.00% 66.07%, 7.00% 65.01%, 8.00% 63.81%, 9.00% 62.49%, 10.00% 61.05%, 11.00% 59.51%, 12.00% 57.88%, 13.00% 56.18%, 14.00% 54.42%, 15.00% 52.61%, 16.00% 50.78%, 17.00% 48.94%, 18.00% 47.10%, 19.00% 45.29%, 20.00% 43.51%, 21.00% 41.79%, 22.00% 40.13%, 23.00% 38.56%, 24.00% 37.09%, 25.00% 35.73%, 26.00% 34.49%, 27.00% 33.38%, 28.00% 32.42%, 29.00% 31.61%, 30.00% 30.96%, 31.00% 30.47%, 32.00% 30.15%, 33.00% 30.01%, 34.00% 30.04%, 35.00% 30.24%, 36.00% 30.61%, 37.00% 31.16%, 38.00% 31.86%, 39.00% 32.72%, 40.00% 33.73%, 41.00% 34.89%, 42.00% 36.17%, 43.00% 37.57%, 44.00% 39.08%, 45.00% 40.68%, 46.00% 42.36%, 47.00% 44.10%, 48.00% 45.89%, 49.00% 47.72%, 50.00% 49.56%, 51.00% 51.40%, 52.00% 53.22%, 53.00% 55.01%, 54.00% 56.75%, 55.00% 58.43%, 56.00% 60.03%, 57.00% 61.54%, 58.00% 62.94%, 59.00% 64.22%, 60.00% 65.38%, 61.00% 66.39%, 62.00% 67.25%, 63.00% 67.96%, 64.00% 68.50%, 65.00% 68.87%, 66.00% 69.07%, 67.00% 69.10%, 68.00% 68.96%, 69.00% 68.64%, 70.00% 68.15%, 71.00% 67.50%, 72.00% 66.69%, 73.00% 65.73%, 74.00% 64.62%, 75.00% 63.38%, 76.00% 62.02%, 77.00% 60.55%, 78.00% 58.98%, 79.00% 57.32%, 80.00% 55.60%, 81.00% 53.82%, 82.00% 52.01%, 83.00% 50.17%, 84.00% 48.33%, 85.00% 46.50%, 86.00% 44.69%, 87.00% 42.93%, 88.00% 41.23%, 89.00% 39.60%, 90.00% 38.06%, 91.00% 36.62%, 92.00% 35.30%, 93.00% 34.10%, 94.00% 33.04%, 95.00% 32.13%, 96.00% 31.37%, 97.00% 30.78%, 98.00% 30.35%, 99.00% 30.09%, 100.00% 30.00%);
    --onda2: polygon(100% 100%, 0% 100%, 0.00% 69.11%, 1.00% 69.02%, 2.00% 68.76%, 3.00% 68.33%, 4.00% 67.74%, 5.00% 66.98%, 6.00% 66.07%, 7.00% 65.01%, 8.00% 63.81%, 9.00% 62.49%, 10.00% 61.05%, 11.00% 59.51%, 12.00% 57.88%, 13.00% 56.18%, 14.00% 54.42%, 15.00% 52.61%, 16.00% 50.78%, 17.00% 48.94%, 18.00% 47.10%, 19.00% 45.29%, 20.00% 43.51%, 21.00% 41.79%, 22.00% 40.13%, 23.00% 38.56%, 24.00% 37.09%, 25.00% 35.73%, 26.00% 34.49%, 27.00% 33.38%, 28.00% 32.42%, 29.00% 31.61%, 30.00% 30.96%, 31.00% 30.47%, 32.00% 30.15%, 33.00% 30.01%, 34.00% 30.04%, 35.00% 30.24%, 36.00% 30.61%, 37.00% 31.16%, 38.00% 31.86%, 39.00% 32.72%, 40.00% 33.73%, 41.00% 34.89%, 42.00% 36.17%, 43.00% 37.57%, 44.00% 39.08%, 45.00% 40.68%, 46.00% 42.36%, 47.00% 44.10%, 48.00% 45.89%, 49.00% 47.72%, 50.00% 49.56%, 51.00% 51.40%, 52.00% 53.22%, 53.00% 55.01%, 54.00% 56.75%, 55.00% 58.43%, 56.00% 60.03%, 57.00% 61.54%, 58.00% 62.94%, 59.00% 64.22%, 60.00% 65.38%, 61.00% 66.39%, 62.00% 67.25%, 63.00% 67.96%, 64.00% 68.50%, 65.00% 68.87%, 66.00% 69.07%, 67.00% 69.10%, 68.00% 68.96%, 69.00% 68.64%, 70.00% 68.15%, 71.00% 67.50%, 72.00% 66.69%, 73.00% 65.73%, 74.00% 64.62%, 75.00% 63.38%, 76.00% 62.02%, 77.00% 60.55%, 78.00% 58.98%, 79.00% 57.32%, 80.00% 55.60%, 81.00% 53.82%, 82.00% 52.01%, 83.00% 50.17%, 84.00% 48.33%, 85.00% 46.50%, 86.00% 44.69%, 87.00% 42.93%, 88.00% 41.23%, 89.00% 39.60%, 90.00% 38.06%, 91.00% 36.62%, 92.00% 35.30%, 93.00% 34.10%, 94.00% 33.04%, 95.00% 32.13%, 96.00% 31.37%, 97.00% 30.78%, 98.00% 30.35%, 99.00% 30.09%, 100.00% 30.00%);   
}

/*CUERPO*/
.cartas-etnv {
    margin: 2em auto;
    width: 35rem;
    height: auto;
    overflow: hidden;
    position: relative;
    transition: 1s ease-in;
    background-image: var(--fondo);
    background-color: var(--acento);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
}

.cartas-etnv:after {
    margin: 2em auto;
    width: 50rem;
    background: var(--grdp);
    padding: 20px;
    height: 14rem;
    content: "";
    position: absolute;
    left: -55px;
    bottom: -100px;
    transform: rotateY(180deg);
    clip-path: var(--onda2);
}

.carta-txt p {
    outline-offset: 20px;
    outline: 1px solid var(--bckg-1);
    border-radius: 20px;
    margin-top: 2em;
    text-align: justify;
    hyphens: auto;
    text-decoration: underline dotted;
    text-decoration-color: var(--cicon);
}

.carta-txt {
    background: linear-gradient(180deg, transparent 0%, var(--bckg-3) 25%);
    padding: 3em 2.5em;
    outline-offset: 10px;
    margin-top: -3em;
}

.carta-txt #sello {
    font-size: 8rem;
    float: right;
    background: var(--grd);
    color: var(--brd-c);
    padding: 2rem;
    border-radius: 100%;
    transform: scale(0.8) rotate(18deg);
    margin-top: -1rem;
    margin-right: -1rem;
    box-shadow: 8px 5px 5px var(--bckg-2);
    outline: 1px solid var(--bckg-2);
    outline-offset: -5px;
}

.carta-txt span.notita {
    background: var(--bckg-1);
    display: block;
    padding: 2rem 4rem;
    margin: 0 3rem;
    border-radius: 20px;
    outline: 1px solid var(--bckg-3);
    outline-offset: -10px;
}

.carta-txt span li {
    list-style: none;
    border-bottom: 1px solid var(--bckg-3);
    padding-bottom: 8px;
    padding-left: 10px;
}

.carta-txt span li:before {
    color: var(--acento);
    content: "✦";
    margin-left: -35px;
    margin-right: 15px;
}

b.querido {
    font-size: 30px;
    display: block;
    border-bottom: 2px dotted var(--bckg-2);
    padding-bottom: 0rem;
    margin-top: 10px;
    margin-bottom: -15px;
    line-height: 42px;
    text-decoration: none !important;
    font-family: 'Inter';
    font-weight: bold;
}

/*LETRAS PERSONALIZADAS*/
#hyun p {
    font-family: 'Just Another Hand';
    font-size: 30px;
    line-height: 25px;
    font-weight: 200;
}
