/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunshiney&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*VARIABLES DE COLORES*/
div, p {
   --rin:#964b73; 
   --jun:#2d8091;
   --haru:#a76378 !important;
   --xian:#b45946 !important;
}

/*TAPARRABO DE POST*/ 
eternova div {display:block;margin:2em;text-align:justify;font-size: 1.1rem;}
eternova div i {color: var(--accent)}
eternova sprd {color:var(--accent);display:block;margin:10px auto; content:"·⋆ ✦ ⋆·";text-align:center;font-size:12px;}
eternova ttl {font-weight: bolder;display: block;color: var(--accent);text-align: right;margin-bottom: 10px;font-size: 1.1rem;}


/*HYUN*/.celebridades eternova sprd:before {content:"·⊹ ʚ☆ɞ ⊹·";}
/*YUKI*/.sami eternova sprd:before {content:"· × ✦ × ·";}
/*XIAN*/.empresarios eternova sprd:before {content:"·⬩ ✧ ⬩·";}
/*RICHIE*/.ciudadanos eternova sprd:before {content:"—·⋆ ✦ ⋆·—";}
/*HARU*/.sanidad eternova sprd:before {content:"·✧ ⚞^. .^⚟ ✧·";}


/*COLOR HYUN*/.hfb {--acentf:#444e62;}
/*COLOR YUKI*/.yfb {--acentf:#7a4e66;}
/*COLOR XIAN*/.wfb {--acentf:#763d1e;}

/*BASE FIRMAS*/
.hfb, .yfb, .wfb {transform:scale(0.88);width:290px;margin:0 auto;} 
.hfb div, .yfb div, .wfb div {font:9px/10px Courier New; width:250px;letter-spacing:1px;margin:10px 40px;text-align:right;} 
#hdi, #yki, #wxi {top: 0;position: absolute;left: 0;opacity:0;transition:1s;} 
.signature_div:hover #hdi, .signature_div:hover #yki, .signature_div:hover #wxi {transition:1s;opacity:1} 
.hfb img, .yfb img, .wfb img {width:290px;height:200px;} 
.hfb a, .hfb b, .yfb a, .yfb b, .wfb a, .wfb b {color:var(--acentf)!important;} 

/*AJUSTES COLORINES*/
/*YOONIE RIN Y JUN*/
.yoonie {--accent:var(--sami);}
.yoonie u {color: var(--rin) !important;border-bottom:none !important;} .yoonie strike, .yoonie s {color: var(--jun);}
.yoonie u, .yoonie strike, .yoonie s {text-decoration:none!important;font-weight:600!important;border-bottom:none!important}

/*HARU Y YUKI*/
#yf u {text-decoration:none!important;font-weight:600;color:var(--haru);border-bottom:none!important} 

#yf strong, #yf i strong, #yf strong i {
    background: linear-gradient(45deg, var(--acentoo), hsl(from var(--acentoo) calc(h + 15) s l)) !important;
    background-clip: text !important;
}

/*HYUN*/
#hd {--accent:var(--celebridades)!important;}

/*AUTOCONCLUSIVOS RICHIE*/

.acm u {color: var(--celebridades) !important;border-bottom:none !important;font-style:italic;} .acm strike {color: var(--ciudadanos);}
.acm u, .acm strike {text-decoration:none!important;font-weight:400!important;border-bottom:none!important}

/*AYUDAS VISUALES*/
div#preview .content {
    padding: 30px;
}

.sceditor-container.ltr.sourceMode textarea {
    font-size: 16px !important;
}

/*SPOILERS EN LAS FIRMAS*/
.hfb dl.codebox, .yfb dl.codebox, .wfb dl.codebox {
    border: none;
    background: transparent !important;
    width: 200px;
    margin: -15px auto;
    text-align: center;
}

.hfb dl.codebox dt, .yfb dl.codebox dt, .wfb dl.codebox dt {
    color: var(--acentf);
    letter-spacing: 1px;
    background: transparent;
    border-bottom: 1px solid;
    text-shadow: none;
    padding-bottom: 2px;
}

.hfb .codebox img, .yfb .codebox img, .wfb .codebox img {
    width: 50%;
    height: auto;
}

.hfb .spoiler_content, .yfb .spoiler_content, .wfb .spoiler_content {
    width: 200px;
    padding: 0;
    text-align: center;
    margin: 10px 0;
}

/*POST DE ONDAS*/
/*COLORES*/
.post-rl, .firma-rl {
--haru:var(--acc-1);
--bg1:var(--bckg-1);
--bg2:var(--bckg-2);
--bg3:var(--bckg-3);
--gr1:var(--color-text);
--gr2:var(--inactivos);
--gr3:var(--cicon);
--gr4:var(--ctext);
--wt1:#eee;
--g3:var(--celebridades);
--g2:var(--ciudadanos);
}

.post-yn, .firma-yn, .post-hs, .firma-hs {
--haru:var(--acc-1);
--bg1:var(--bckg-1);
--bg2:var(--bckg-2);
--bg3:var(--bckg-3);
--gr1:var(--color-text);
--gr2:var(--cicon);
--gr3:var(--brd-c);
--gr4:var(--ctext);
--g3:var(--celebridades);
--g10:var(--sami);
--g4:var(--sanidad);
--g6:var(--pesca);
--g8:var(--pesca);  
}

/*HIDE*/
.post-rl .codebox.hidecode dd i, .post-yn .codebox.hidecode dd i, .post-hs .codebox.hidecode dd i {
color: var(--accent);
}

.post-rl .codebox.hidecode dd, .post-yn .codebox.hidecode dd, .post-hs .codebox.hidecode dd {
line-height: 15px;
font-family: 'Poppins';

}

.post-rl dl.codebox.hidecode, .post-yn dl.codebox.hidecode, .post-hs dl.codebox.hidecode {
font-size: 14px;
margin-top: 65px;
display: block;
text-align: justify;
}


/*RICHARD*/
.post-rl {
width:400px;
min-height:100px;
background:var(--bg3);
height:auto;
position:relative;
margin: 10px auto;
overflow:hidden;
border-radius:20px;
border:solid 1px var(--bg2);
padding:20px;
font:10px/10px Noto Sans;} 

.night .post-rl h4, .night .post-rl {border-color:var(--gr3)!important;}

.post-rl strong, .post-rl a, .post-rl h4 i {
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
background: -webkit-linear-gradient(40deg,var(--accent), var(--acento));
} 

.post-rl h4 {
margin:0 auto;
border-bottom:2px dotted var(--gr4);
padding:20px;
text-align:center;
font-size: 12px;
} 

.post-rl h4 i {
font-size: 40px;
display: block;
margin-bottom: 8px;
margin-top:20px;
} 

.post-rl h4 a:before {
content: "ft.";
margin-right: 5px;
color: var(--gr4) !important;
} 

.post-rl p {
font-family: Poppins;
text-align: justify;
padding: 20px;
line-height: 18px;
margin-bottom: -95px;
font-size:14px;
} 

.post-rl h4 b {
font-size: 20px;
line-height: 20px;
text-transform: uppercase;
font-weight:800;color:var(--gr1) !important;
display:block;
} 

.post-rl span, .post-rl datos {
font-size: 10px;
line-height: 10px;
margin-left: 10px;
font-weight: 300;
position: absolute;
z-index: 1;
bottom: 120px;
right:45px;
text-transform:uppercase;
background:var(--acento);
border-radius:10px;
padding:5px 10px;
letter-spacing:1px;
text-align:right;
width:200px;
color:var(--wt1);
}

.post-rl p i {color:var(--accent);} 

.post-rl r {
padding: 5px 10px;
margin: 20px 0 -10px;
font-size: 10px;
text-align: right;
width: 100%;
border: 1px solid var(--gr3);
display: block;
border-radius: 10px;
background:var(--bg2);
}

.post-rl:after, .firma-rl:after {background: linear-gradient(90deg, var(--accent), var(--acento));} 

.post-rl:after, .firma-rl:after {content:"";width: 800px;height:350px;display:block;  margin-top:50px;margin-left:-75px;margin-bottom:-150px;transform:rotate(10deg);} 

.post-rl:after, .firma-rl:after {clip-path: polygon(100% 100%, 0% 100% , 0.00% 27.56%, 1.00% 27.76%, 2.00% 28.12%, 3.00% 28.62%, 4.00% 29.26%, 5.00% 30.04%, 6.00% 30.94%, 7.00% 31.95%, 8.00% 33.08%, 9.00% 34.30%, 10.00% 35.60%, 11.00% 36.97%, 12.00% 38.40%, 13.00% 39.86%, 14.00% 41.36%, 15.00% 42.87%, 16.00% 44.37%, 17.00% 45.85%, 18.00% 47.30%, 19.00% 48.71%, 20.00% 50.05%, 21.00% 51.31%, 22.00% 52.48%, 23.00% 53.56%, 24.00% 54.52%, 25.00% 55.36%, 26.00% 56.07%, 27.00% 56.64%, 28.00% 57.07%, 29.00% 57.36%, 30.00% 57.49%, 31.00% 57.47%, 32.00% 57.30%, 33.00% 56.98%, 34.00% 56.52%, 35.00% 55.91%, 36.00% 55.17%, 37.00% 54.30%, 38.00% 53.31%, 39.00% 52.21%, 40.00% 51.02%, 41.00% 49.74%, 42.00% 48.38%, 43.00% 46.97%, 44.00% 45.51%, 45.00% 44.02%, 46.00% 42.51%, 47.00% 41.00%, 48.00% 39.51%, 49.00% 38.05%, 50.00% 36.64%, 51.00% 35.28%, 52.00% 34.00%, 53.00% 32.80%, 54.00% 31.70%, 55.00% 30.71%, 56.00% 29.84%, 57.00% 29.10%, 58.00% 28.49%, 59.00% 28.02%, 60.00% 27.70%, 61.00% 27.53%, 62.00% 27.51%, 63.00% 27.64%, 64.00% 27.92%, 65.00% 28.35%, 66.00% 28.92%, 67.00% 29.63%, 68.00% 30.47%, 69.00% 31.43%, 70.00% 32.50%, 71.00% 33.67%, 72.00% 34.94%, 73.00% 36.27%, 74.00% 37.68%, 75.00% 39.13%, 76.00% 40.61%, 77.00% 42.11%, 78.00% 43.62%, 79.00% 45.12%, 80.00% 46.58%, 81.00% 48.01%, 82.00% 49.38%, 83.00% 50.69%, 84.00% 51.91%, 85.00% 53.03%, 86.00% 54.05%, 87.00% 54.95%, 88.00% 55.73%, 89.00% 56.37%, 90.00% 56.87%, 91.00% 57.23%, 92.00% 57.44%, 93.00% 57.50%, 94.00% 57.41%, 95.00% 57.16%, 96.00% 56.77%, 97.00% 56.23%, 98.00% 55.56%, 99.00% 54.75%, 100.00% 53.82%);}


/*ADAPTACIONES DE COLOR YOONIE*/
.post-rl u {color: var(--rin)!important;border-bottom:none !important;} .post-rl strike {color: var(--jun)!important;}

.post-rl i u {color: var(--rin)!important;} .post-rl i strike {color: var(--jun)!important;}

.post-rl u i {color: var(--rin)!important;} .post-rl strike i {color: var(--jun)!important;}

#kyw p i {color:var(--yoonie);} 
#kyw:after { background: linear-gradient(90deg, var(--yoonie), var(--acento));} 
#kyw strong, #kyw a, #kyw h4 i {background: -webkit-linear-gradient(40deg,var(--yoonie), var(--acento));}

#kyw span {
font-family: Poppins;
padding: 0 !important;
line-height: 18px;
background: none;
border-radius: 0px;
padding: 0px !important;
letter-spacing: 0px;
text-transform: none;
width: auto !important;
position: relative;
font-size: 12px;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: 0px !important;
}

/*YOONIE*/
.post-yn:after, .firma-yn:after {clip-path: path("M0,256L21.8,234.7C43.6,213,87,171,131,170.7C174.5,171,218,213,262,224C305.5,235,349,213,393,176C436.4,139,480,85,524,80C567.3,75,611,117,655,149.3C698.2,181,742,203,785,176C829.1,149,873,75,916,69.3C960,64,1004,128,1047,170.7C1090.9,213,1135,235,1178,208C1221.8,181,1265,107,1309,106.7C1352.7,107,1396,181,1418,218.7L1440,256L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z");}

.post-yn:after, .firma-yn:after {content: "";display:block;width: 100%;height: 300px; background: linear-gradient(90deg, var(--acentoo), var(--acento));position: relative;}

.post-yn {width: 480px;margin: 0 auto;background: var(--bg3);border: 1px solid var(--gr4);border-radius: 20px;position: relative;overflow: hidden;} 

.post-yn p i {color:var(--acentoo);} 

.post-yn h4 {box-sizing: border-box;padding: 30px;display: flex;justify-content: space-between;align-items: center;border-bottom: 1px dashed var(--gr4);} 

.post-yn p {box-sizing: border-box;padding: 25px;text-align: justify;hyphens: auto;font-size:14px;}

.post-yn strong, .post-yn a, .post-yn strong i, .post-yn i strong {-webkit-background-clip: text !important;-webkit-text-fill-color: transparent !important;background: -webkit-linear-gradient(40deg,var(--acentoo), var(--acento));} .post-yn p {font-family: Poppins;text-align: justify;padding: 30px;line-height: 18px;margin-bottom: -180px;} 

.post-yn b {font: 70px Mrs Saint Delafield;position: absolute;right: 30px;color: var(--gr2) !important;width: 80%;line-height: 20px;text-align: right;} 

.day .post-yn b {color:var(--gr1)!important;opacity:0.3;}
.night .post-yn, .night .post-yn h4 {border-color:var(--gr2)!important;}

.material-symbols-outlined {font-size:55px !important;z-index:3;} 

.post-yn h4 a {z-index:3;} 

.post-yn h5 {position: absolute;z-index: 2;left: 22%;padding: 5px 15px;text-transform: uppercase;letter-spacing: 2px;bottom: 20px;background: var(--bg3);border-radius: 10px;margin: 0 auto;font-size: 10px;font-family: Poppins;width: 50%;text-align: center;font-weight:400;}

.yoonie u, .yoonie strike, .yoonie s {text-decoration:none!important;font-weight:600!important;border-bottom:none!important}

.post-yn u {color: var(--rin)!important;border-bottom: none !important;} .post-yn strike, .post-yn s, .yoonie s {color: var(--jun)!important;}

.post-yn i u {color: var(--rin)!important;border-bottom: none !important;} .post-yn i strike, .post-yn i s, .yoonie i s {color: var(--jun)!important;}

.post-yn u i {color: var(--rin)!important;border-bottom: none !important;} .post-yn strike i, .post-yn s i, .yoonie s i {color: var(--jun)!important;}

.post-yn #yf u {text-decoration:none!important;font-weight:600;color:var(--haru) !important;} 


.post-yn r {
padding: 5px 10px;
margin: 20px 0 -10px;
font-size: 10px;
text-align: right;
width: 100%;
border: 1px solid var(--gr3);
display: block;
border-radius: 10px;
background: var(--bg2);
}

/*HARU*/
.post-hs {
width:400px;
min-height:100px;
background:var(--bg3);
height:auto;
position:relative;
margin: 10px auto;
overflow:hidden;
border-radius:20px;
border:solid 1px var(--gr3);
padding:20px;font:10px/10px Noto Sans;
} 

.post-hs strong, .post-hs a, .post-hs h4 i {
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
background: -webkit-linear-gradient(40deg,var(--acentoo), var(--acento));} 

.post-hs h4 {
margin: 0 auto;
border-bottom: 1px solid var(--gr3);
padding: 20px;
text-align: center;
font-size: 12px;
display: flex;
gap: 8px;
} 

.post-hs h4 i {
font-size: 60px;
display: block;
margin-bottom: 8px;
}

.post-hs h4 a:before {
content: "╰┈➤";
margin-right: 5px;
color: var(--gr4) !important;
} 

.post-hs p {
font-family: Poppins;
text-align: justify;
padding: 20px 20px 32px;
line-height: 18px;
margin-bottom: -210px;
font-size: 14px;
hyphens: auto;
}

.post-hs h4 b {
font-size: 25px;
line-height: 20px;
text-transform: uppercase;
font-weight: 800;
display: block;
font-family: 'Fira Sans';
letter-spacing: 2px;
width: 80%;
color:var(--gr4) !important;
margin-top:18px;
}

.post-hs datos {
font-family: 'Fira Sans';
font-size: 10px;
line-height: 10px;
margin-left: 10px;
font-weight: 300;
position: absolute;
z-index: 1;
bottom: 20px;
left: 8px;
text-transform: uppercase;
background: var(--bg2);
border-radius: 5px;
padding: 5px 10px;
letter-spacing: 3px;
text-align: left;
width: 245px;
color: var(--gr4);
}

.post-hs p i {color:var(--acentoo);} 

.post-hs h4 b a {
font-size: 12px;
}

.post-hs r {
padding: 5px 10px;
margin: 20px 0 -10px;
font-size: 10px;
text-align: right;
width: 100%;
border: 1px solid var(--gr2);
display: block;
border-radius: 10px;
background:var(--bg2);
}

.post-hs:after, .firma-hs:after { background: linear-gradient(90deg, var(--acentoo), var(--acento));} 

.post-hs:after, .firma-hs:after {
content: "";
width: 700px;
height: 400px;
display: block;
margin-left: -62px;
margin-bottom: -120px;
transform: rotate(-8deg);
}

.post-hs:after, .firma-hs:after {clip-path: polygon(100% 100%, 0% 100% , 0.00% 52.52%, 1.00% 51.35%, 2.00% 50.16%, 3.00% 48.98%, 4.00% 47.80%, 5.00% 46.63%, 6.00% 45.49%, 7.00% 44.38%, 8.00% 43.30%, 9.00% 42.27%, 10.00% 41.29%, 11.00% 40.37%, 12.00% 39.52%, 13.00% 38.73%, 14.00% 38.02%, 15.00% 37.39%, 16.00% 36.84%, 17.00% 36.38%, 18.00% 36.01%, 19.00% 35.74%, 20.00% 35.56%, 21.00% 35.47%, 22.00% 35.48%, 23.00% 35.59%, 24.00% 35.80%, 25.00% 36.10%, 26.00% 36.49%, 27.00% 36.98%, 28.00% 37.55%, 29.00% 38.20%, 30.00% 38.93%, 31.00% 39.74%, 32.00% 40.61%, 33.00% 41.55%, 34.00% 42.54%, 35.00% 43.58%, 36.00% 44.67%, 37.00% 45.79%, 38.00% 46.94%, 39.00% 48.11%, 40.00% 49.29%, 41.00% 50.48%, 42.00% 51.66%, 43.00% 52.83%, 44.00% 53.99%, 45.00% 55.11%, 46.00% 56.21%, 47.00% 57.26%, 48.00% 58.26%, 49.00% 59.21%, 50.00% 60.10%, 51.00% 60.92%, 52.00% 61.66%, 53.00% 62.33%, 54.00% 62.92%, 55.00% 63.42%, 56.00% 63.83%, 57.00% 64.15%, 58.00% 64.37%, 59.00% 64.50%, 60.00% 64.53%, 61.00% 64.47%, 62.00% 64.31%, 63.00% 64.05%, 64.00% 63.70%, 65.00% 63.26%, 66.00% 62.73%, 67.00% 62.11%, 68.00% 61.42%, 69.00% 60.64%, 70.00% 59.80%, 71.00% 58.89%, 72.00% 57.92%, 73.00% 56.90%, 74.00% 55.84%, 75.00% 54.73%, 76.00% 53.60%, 77.00% 52.43%, 78.00% 51.26%, 79.00% 50.07%, 80.00% 48.88%, 81.00% 47.71%, 82.00% 46.54%, 83.00% 45.40%, 84.00% 44.29%, 85.00% 43.22%, 86.00% 42.19%, 87.00% 41.22%, 88.00% 40.30%, 89.00% 39.45%, 90.00% 38.67%, 91.00% 37.97%, 92.00% 37.34%, 93.00% 36.80%, 94.00% 36.35%, 95.00% 35.99%, 96.00% 35.72%, 97.00% 35.55%, 98.00% 35.47%, 99.00% 35.49%, 100.00% 35.61%);}

#yf strong, #yf i strong, #yf strong i {
background: linear-gradient(45deg, var(--acentoo), hsl(from var(--acentoo) calc(h + var(--hsl)) s l)) !important;
background-clip: text !important;
}

/*FIRMAS DE LILI*/
.firma-rl, .firma-yn, .firma-hs {
    width: 350px;
    height: 225px;
    margin: 25px auto;
    background: var(--bg1);
    border: 5px solid var(--bg3);
    outline: 1px solid var(--acentoo);
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}

.firma-rl>div:after, .firma-yn>div:after, .firma-hs>div:after {
    content: "";
    background: linear-gradient(0deg, var(--acentoo), var(--acento), transparent);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    mix-blend-mode: hard-light;
}

.firma-rl>div:after {
   background: linear-gradient(-45deg, var(--acentoo), var(--acento), transparent);
}

.firma-yn>div:after {
   opacity:0.6;
}

.firma-hs>div:after {
   mix-blend-mode: multiply;
   opacity:0.3;
}

.firma-rl {
    transform: scale(0.9);
    outline: 2px dotted var(--bg3);
    outline-offset: -20px;
    border: 10px solid var(--bg3);
}

.firma-rl>div {
    width: 60%;
    height: 100%;
    float: right;
}

.firma-rl:after {
    content: "";
    width: 800px;
    height: 350px;
    display: block;
    margin-top: 27px;
    margin-left: -35px;
    margin-bottom: -150px;
    transform: rotate(10deg);
    background: linear-gradient(90deg, var(--acentoo), var(--acento));
}

.firma-rl h4 {
    font: 12px Noto Sans;
    text-transform: uppercase;
    position: absolute;
    left: 5px;
    padding: 10px;
    background: var(--bg3);
    width: 110px;
    margin: 5px auto;
    z-index: 2;
    text-align: center;
    height: stretch;
    height: 202px;
}

.firma-yn {
    outline: 1px dashed var(--acento);
    outline-offset: -10px;
    border: none;
}

cute i {
    font-weight: bold;
    color: var(--accent);
}

cute {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    margin-bottom: -18px;
}

.firma-yn>div {
    width: 100%;
    height: 100%;
}

.firma-yn:after {
    top: -18px;
    z-index: 3;
    position: absolute;
    transform: rotateY(180deg);
    width: 415px;
}

.firma-rl h4 strong {
    color: var(--acentoo);
}

.firma-rl u {
    border-color: var(--acentoo);
}

.firma-rl h4 i:first-of-type {
    background: linear-gradient(45deg, var(--acentoo) 45%, var(--acento));
    color: transparent;
    background-clip: text !important;
    display: block;
    font-size: 35px;
    border-bottom: 1px solid var(--acentoo);
    padding-bottom: 15px;
    margin: 10px auto;
    width: 50px;
}

.firma-yn h4 {
    position: absolute;
    width: 100%;
    text-align: right;
    padding: 20px;
    right: 0;
    font-family: 'Noto Sans';
    text-transform: uppercase;
    font-size: 25px;
    color: var(--bg3);
    bottom: -5px;
    z-index: 4;
}

.day .firma-yn b, .day .firma-yn b a, .day .firma-hs b a {
   color: var(--bg3) !important;
}

.day .firma-hs b {
   -webkit-text-stroke: 1px var(--bg3) !important;
}


.firma-yn h4 b {
    color: var(--gr4) !important;
    text-shadow: 1px 1px 5px var(--bg3);
}

.firma-yn h4 b i {
    -webkit-text-stroke: 1px var(--bg3);
    color: transparent !important;
    text-shadow: none !important;
}

.firma-yn b a {
    font-family: 'Mrs Saint Delafield';
    text-transform: lowercase;
    font-size: 42px;
    color: var(--gr4);
    font-weight: 100;
}

.firma-yn h4 i:last-of-type {
    color: var(--acento);
}

.firma-hs>div {
    width: 100%;
    height: 100%;
    outline: 1px solid var(--acentoo);
    outline-offset: -10px;
    transition: 1s;
}

.firma-hs {
    border: 10px solid var(--bg2);
}

.firma-hs:after {
    content: "";
    width: 700px;
    height: 400px;
    display: block;
    margin-left: -80px;
    top: -42px;
    transform: rotate(-18deg);
    position: absolute;
}

.firma-hs h4 {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 5px;
    width: 100%;
    z-index: 3;
    line-height:20px;
}

.firma-hs b {
    color: var(--acentoo) !important;
    -webkit-text-stroke: .5px var(--bg3);
    font-size: 20px;
    font-family: 'Noto Sans';
}

.firma-hs b a {
   color:var(--gr4);
   text-transform:uppercase;
   font-family: 'Fira Sans';
   font-size:15px;
   -webkit-text-stroke: 0 !important;
}

.firma-hs b i {
    font-weight: 600;
    -webkit-text-stroke: 0 !important;
}
