.base-moodmusic {
    margin: 0 auto;
    width: 800px;
    height: 500px;
    border: 20px solid var(--bckg-3);
    outline: 1px solid var(--accent);
    outline-offset: -5px;
    box-shadow: 0px 2px 10px var(--color-text);
    position: relative;
}

.base-moodmusic audio {
    margin: 0 auto;
    position: absolute;
    display: block;
    background-color: transparent;
    border-radius: 40px;
    outline-offset: 2px;
    bottom: 20px;
    left: 330px;
    width: 142px;
}

#riunie audio {
   mix-blend-mode: darken;
   left: 250px;
   width: 300px;
}

#yuwoo audio {
    filter: invert(1) hue-rotate(180deg);
    mix-blend-mode: lighten;
    opacity: 0.7;
}
