.base-moodmusic {
    margin: 0 auto;
    width: 800px;
    height: 500px;
    border: 20px solid var(--bckg-3);
    outline: 1px solid var(--accent);
    outline-offset: -5px;
    box-shadow: 0px 2px 10px var(--color-text);
    position: relative;
}

.base-moodmusic audio {
    filter: invert(1) hue-rotate(180deg);
    margin: 0 auto;
    position: absolute;
    display: block;
    background-color: transparent;
    border-radius: 40px;
    outline-offset: 2px;
    bottom: 145px;
    left: 12rem;
    box-shadow: 0px 0px 5px;
    width: 400px;
}
