@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mrs+Saint+Delafield&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*#4d919f -- Color turquesa*/

.baul-hs, .inv-hs, .post-hs, .firma-hs {
--haru:var(--acc-1);
--xian:var(--acc-1);
--bg1:var(--bckg-1);
--bg2:var(--bckg-2);
--bg3:var(--bckg-3);
--gr1:var(--color-text);
--gr2:var(--cicon);
--gr3:var(--brd-c);
--gr4:var(--ctext);
--g4:var(--sanidad);
--g6:var(--pesca);
--g8:var(--g6);
}

.semp-r-c-t-icon img:nth-of-type(2), .semp-r-c-t-icon img:nth-of-type(3), .semp-r-c-t-icon img:nth-of-type(4), .semp-r-c-t-icon img:nth-of-type(5) {
display: none;
}

div#preview .content {
padding: 30px;
}

.sceditor-container.ltr.sourceMode textarea {
font-size: 16px !important;
}

.post-hs .codebox.hidecode dd i {
color: var(--accent);
}
.post-hs .codebox.hidecode dd {
line-height: 15px;
font-family: 'Poppins';

}

.post-hs dl.codebox.hidecode {
font-size: 14px;
margin-top: 65px;
display: block;
text-align: justify;
}


/*BITACORA*/

#bit h4 b {
font-size: 65px;
}

#bit h4 a {
left: 0;
top: -30px;
right: 215px;
}

#bit h5 {
position: relative;
margin-left: 0;
font-size: 20px;
}

#bit p {
margin-top: 72px;
padding: 50px 20px;
width: 86%;
text-align: left;
column-gap: 10px;
row-gap: 10px;
font-family: 'Poppins';
margin-left: 50px;
flex-wrap: wrap;
}

#bit p a {
font-size: 15px;
line-height: 12px;
min-width: 300px !important;
position: relative;
height: auto;
border-radius: 10px;
padding: 22px 15px 22px;
border: 1px solid var(--gr3);
flex: 1 1 auto;
}

#bit a i {
font: 13px Poppins;
background: var(--gr1) !important;
background-clip: text !important;
display: block;
margin-bottom: -5px;
}

#bit a br {display:none;}

#bit a i:before {
content: "➤";
display: inline-block;
background: linear-gradient(15deg, var(--acentoo), var(--acento));
background-clip: text !important;
margin-left: 5px;
margin-right: 5px;
}

/*MOODBOARD*/
#mood .moodboard {
display: flex;flex-wrap: wrap;gap: 10px;column-gap:10px;justify-content: center;align-items: center;
padding:30px;
z-index:8;
margin: 0 auto;
top:50px;
background:var(—-background-2);
border:1px solid var(--gr3);
position:relative;
margin-bottom:-50px;
}

.moodboard br {display:none}

#mood .imas:nth-of-type(2n+1):before {width:180px;height:180px;z-index:5;border-radius:10px;}
#mood .imas:nth-of-type(2n+1) img { filter:grayscale(1);}

#mood img, #mood .imas {width:180px;height:180px;overflow:hidden;border-radius:10px;}

/*RETOS DE ESCRITURA*/
#lista .imas {
width: 130px;
height: 130px;
border-radius: 100%;
overflow: hidden;
position: absolute;
z-index: 4;
top:25px;
text-align: center;
left: 50px;
border: 10px solid var(--bg1);
outline: 1px solid var(--acentoo);
outline-offset: -5px;
}

#lista .imas:before {
width: 150px;
height: 150px;
z-index: 5;
}

#lista .imas img {
height: 100%;
filter: grayscale(1);
}

#lista p {
display: flex;
flex-wrap: wrap;
margin-top: 40px;
}

#lista h5 {
position: relative;
text-align: left;
margin-top: 45px;
margin-bottom: -45px;
margin-left: 285px;
width: 80%;
border: 1px solid var(--gr3);
}

#lista h5 a:after {
content: "• • •";
}

#ok {
text-decoration: line-through;
color: var(--acentoo);
}

#ok b:after {
content: "\f00c";
font-family: 'FontAwesome';
font-size: 20px;
}

#lista h5 a {
float: right;
margin-left:10px;
}

#lista h5 b {
display: block;
float: left;
width: 15px;
height: 15px;
border: 1px solid var(--gr3);
border-radius: 5px;
margin-right: 10px;
}


#lista h4 {
text-align: center;
}

#lista h4 i {
display: block;
font-size: 38px;
font-style: normal;
color: var(--bg1);
-webkit-text-stroke: 0 !important;
}

#lista h4 b {
right: 95px;
top: 50px;
}

#reto text {
column-count: 2 !important;
display: block;
font-family: 'Poppins';
hyphens: auto;
font-size: 13px;
column-gap: 10px;
}

#reto p {
font-family: 'Poppins';
hyphens: auto;
font-size: 13px;
column-gap: 10px;
}

/*INVENTARIO*/
#reto p strong i {
text-align: center !important;
display: block;
}

.inv-hs {width: 57em;
margin: 0 auto;
background: var(--bg3);
border: 1px solid var(--gr3);
border-radius: 20px;
position: relative;
overflow: hidden;
}

.inv-hs p.index-hs .fa-solid {font-size:50px !important;z-index:3;}


.inv-hs h5::-webkit-scrollbar {width:0px !important;}
#reto p::-webkit-scrollbar-thumb {background:var(--acentoo) !important;}



.inv-hs:before {
content: "";
display: block;
width: 102%;
height: 300px;
background: linear-gradient(90deg, var(--acentoo), var(--acento));
position: absolute;
top: 0;
transform: rotateX(180deg);
z-index: 2;
}

.inv-hs h5 {
position: absolute;
z-index: 2;
right: 25%;
padding: 22px 15px;
text-transform: uppercase;
letter-spacing: 2px;
top: 90px;
background: var(--bg2);
border-radius: 10px;
margin: 0 auto;
font-size: 10px;
font-family: 'Poppins';
width: 45%;
text-align: center;
font-weight: 400;
}


.inv-hs h4 {
box-sizing: border-box;
padding: 0px;
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 0px !important;
}

#medallero h4 a {
right: 28%;
}

#inini h4 a {
right: 50%;
}

.inv-hs h4 a {
font: 50px Noto Sans;
font-weight: 800;
text-transform: uppercase;
position: absolute;
right: 35%;
top: 5px;
background: linear-gradient(to left, var(--acentoo), var(--acento));
-webkit-background-clip: text !important;
color: transparent !important;
text-align: right;
line-height: 172px;
z-index: 4;
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
}

.inv-hs h4 b {
z-index: 3;
position: absolute;
top: 72px;
right: 25%;
font-size: 55px;
line-height: 42px;
font-weight: 900;
-webkit-text-stroke: 1px var(--gr3);
color: transparent !important;
text-transform:uppercase;
}

.inv-hs strong, .inv-hs a, .inv-hs strong i, .inv-hs i strong {
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
background: -webkit-linear-gradient(40deg, var(--acentoo), var(--acento));
}

#inini span b {
font-size: 90px;
text-align: right;
text-transform: uppercase;
letter-spacing: .4em;
padding-left: 0em;
color: transparent !important;
-webkit-text-stroke: 1px var(--acentoo);
bottom: -.7em;
position: absolute;
right:-0.3em;
}

#inini p {
margin-bottom: -80px !important;
width: 90%;
margin-left: -5px;
}

.inv-hs span {
display: flex;
position: absolute;
font: 15px Arial;
column-gap: 18px;
background: var(--bg2);
right: 5%;
width: 19em;
height: 15em;
padding: 2em;
top: 200px;
flex-flow: column;
outline: 2px solid var(--gr3);
outline-offset: -10px;
border-radius: 10px;
color: var(--gr4);
z-index: 4;
}

.inv-hs span dt:before {
content: "•";
padding-right: 5px;
}

.inv-hs .imas:before {
content: "";
background: linear-gradient(180deg, var(--acentoo), var(--acento));
display: block;
position: absolute;
mix-blend-mode: multiply;
}


#inigif:before {
width: 100%;
height: 300px;
mix-blend-mode: overlay;
}

#inini h4 a {
right: 50%;
}

.inv-hs #ininimini {
position: absolute;
width: 150px;
height: 150px;
overflow: hidden;
right: 25px;
bottom: 10px;
z-index: 2;
border-radius: 100%;
border: 10px solid var(--bg3);
outline: 1px solid var(--acentoo);
outline-offset: -6px;
text-align:center;
}


.inv-hs #inigif {margin-top:90px;}

.inv-hs p {
border-top: 1px solid var(--gr3);
margin-top: -25px;
padding: 35px 126px 0px 50px;
text-align: center;
display: flex;
column-gap: .8em;
width: 75%;
margin-bottom: -130px;
justify-content: center;
column-count: 2;
flex-wrap: wrap;
row-gap: 1em;
}


#medallero h5, #regalos h5 {
position: relative;
font-size: 15px;
margin-left: 95px;
padding: 12px;
margin-top: 20px;
margin-bottom: -18px;
font-family: 'Fira Sans';
}



#medallero p, #regalos p {
margin-top: 72px;
padding: 50px;
width: 86%;
text-align: left;
column-gap: 1em;
row-gap: 1em;
font-family: 'Poppins';
}


#medallero p a {
font-size: 14px;
line-height: 12px;
display: block;
width: 100px !important;
position: relative;
height: 100px;
text-align: center;
border-radius: 10px;
padding: 22px 15px 22px;
border: 1px solid var(--gr3);
}

#medallero a img {
width: 75px;
height: 75px;
transition: 1s;
filter: grayscale(0.6);
display: block;
margin: 0 auto 10px !important;
}


#medallero a:hover img {
transition: 1s;
filter: grayscale(0);
}

#medallero p {
gap: .5em;
}

#regalos h4 b {
top: 10%;
}

.regalosbs b {
-webkit-text-stroke: .5px var(--gr4);
color: var(--gr4);
font-size: 16px;
display: inline-block;
margin-left: 8px;
height: 28px;
border-bottom: 1px solid var(--gr3);
text-align: left;
width: 80%;
overflow: hidden;
float: right;
}

#regalos strong {
font-size: 25px;
}

#gift:before {
width: 150px;
height: 150px;
z-index: 2;
transition:1s;
border-radius:10px;
}

#gift img {
filter: grayscale(1);
width: 90%;
height: 90%;
margin: 7px;
transition:1s;
border-radius:10px;
}

#regalos span:hover #gift img {filter: grayscale(0);transition:1s;}
#regalos span:hover #gift:before {opacity:0.2;transition:1s;}

#gift {
width: 150px;
height: 150px;
margin-left: 200px;
transform: scale(0.8);
margin-top: -10px;
position: absolute;
background: var(--gr3);
border-radius:10px;
}

#gift span {
height: 14em;
}


#regalos .regalosbs span {
display: block;
position: relative;
top: 0;
background: var(--bg2);
width: 16em !important;
margin-right: 12px;
height: 165px;
padding:1em;
}

.regalosbs span {
transform: scale(.82);
}

.regalosbs {
padding: 50px;
margin-top: 70px;
z-index: 4;
position: relative;
display: flex;
gap: 1em;
margin-bottom: -150px;
flex-wrap: wrap;

}

#regalos h5 {
font-size: 12px;
top: 0px;
left: -95px;
width: 192px;
height: 115px;
overflow-x: auto;
background: transparent;
text-transform: none;
line-height: 12px;
text-align: left;
padding: 10px;
position: relative;
color: var(--gr4);
letter-spacing: 1px;
}

#inini h4 a {
left: 0em;
font-size: 80px;
width: 100%;
text-align: left;
padding-left: 100px;
line-height: 142px;
font-family: 'Fira Sans';
letter-spacing: 10px;
}


#medallero h4 a {
right: 3.3em;
}

#regalos h4 a {
right: 4.3em;
}

#medallero h4 b, #regalos h4 b, #reto h4 b {
right: 170px;
top: 40px;
font-family: 'Fira Sans';
letter-spacing: 15px;
}

#reto h5 {
position: relative;
text-align: left;
margin-top: 25px;
margin-left: 225px;
}

#reto h5 a:after {
content: "• ➤";
margin-left:5px;
}

#reto h5 a {
float: right;
}

#reto p:last-of-type, #medallero p:last-of-type {
margin-bottom: 150px;
}

#reto p {
text-align: justify;
font-size: 12px;
margin-top: 105px;
margin-left: 20px;
padding: 20px 20px 10px;
width: 88%;
height: 200px;
overflow-y: hidden;
overflow-x: auto;
border: 1px solid var(--gr3);
display: block;
column-count: 2;
column-fill: auto;
break-inside: avoid-column;
}


#reto p i {
color: var(--acentoo);
}

#reto h4 b {
right: 235px;
}

#regalos h4 b {
right: 225px;
}


#medallero h5 {
margin-left: 165px;
}

#reto p {
text-align: justify;
font-size: 12px;
margin-top: 105px;
margin-left: 20px;
padding: 20px 20px 10px;
width: 88%;
height: 200px;
overflow-y: auto;
overflow-x: hidden;
border: 1px solid var(--gr3);
display: block;
column-count: auto;
column-fill: auto;
break-inside: avoid-column;
}

#inini:after {
margin-top: -120px;
}

#inini p {
margin-bottom: -80px !important;
width: 52%;
position: absolute;
right: -15px;
padding: 40px;
border: none;
}

/*BAUL*/
.baul-hs {width: 58em;
margin: 0 auto;
background: var(--bg3);
border: 1px solid var(--gr3);
border-radius: 20px;
position: relative;
overflow: hidden;
}

#inicio {width:50em !important;}

.baul-hs p.index-hs .fa-solid {font-size:55px !important;z-index:3;}


.baul-hs h5::-webkit-scrollbar {width:0px !important;}

.baul-hs:before {
content: "";
display: block;
width: 100%;
height: 300px;
background: linear-gradient(90deg, var(--acentoo), var(--acento));
position: absolute;
top: 0;
transform: rotateX(180deg);
z-index: 2;
}

.baul-hs:after, .inv-hs:after {
content: "";
display: block;
width: 118%;
height: 349px;
background: linear-gradient(90deg, var(--acentoo), var(--acento));
position: relative;
transform: rotate(12deg);
margin-bottom: -90px;
margin-left: -50px;
margin-top: -190px;
}

.baul-hs h5 {
position: absolute;
z-index: 2;
right: 5%;
padding: 22px 15px;
text-transform: uppercase;
letter-spacing: 2px;
top: 112px;
background: var(--bg2);
border-radius: 10px;
margin: 0 auto;
font-size: 10px;
font-family: Fira Sans;
width: 45%;
text-align: center;
font-weight: 400;
}


.baul-hs h4 {
box-sizing: border-box;
padding: 0px;
align-items: center;
padding-bottom: 0px !important;
position: absolute;
top: 40px;
width: 100%;
text-align: center;
z-index: 2;
}

#crono h4 a {
right: 28%;
}


.baul-hs h4 a {
font: 50px Fira Sans;
font-weight: 800;
text-transform: uppercase;
position: absolute;
right: 35%;
top: 5px;
background: linear-gradient(to left, var(--acentoo), var(--acento));
-webkit-background-clip: text !important;
color: transparent;
text-align: right;
line-height: 172px;
z-index: 4;
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
letter-spacing: 10px;
}

.baul-hs h4 b {
z-index: 3;
font-size: 48px;
font-weight: 900;
-webkit-text-stroke: 1px var(--gr3);
color: transparent !important;
text-transform: uppercase;
}

.baul-hs strong, .baul-hs a, .baul-hs strong i, .baul-hs i strong {
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
background: -webkit-linear-gradient(40deg, var(--acentoo), var(--acento));
}

#inicio span b {
font-size: 90px;
text-align: right;
text-transform: uppercase;
letter-spacing: .4em;
padding-left: 0em;
color: transparent !important;
-webkit-text-stroke: 1px var(--acentoo);
bottom: -.7em;
position: absolute;
right:-0.3em;
}

#inicio p {
margin-bottom: -80px !important;
width: 50%;
margin-left: -5px;
position: absolute;
top: 200px;
right: -100px;
border: none !important;
}


.baul-hs span {
display: flex;
font: 15px Fira Sans;
column-gap: 18px;
background: var(--bg2);
right: 5%;
width: 19em;
height: 8em;
padding: 2em;
top: 338px;
flex-flow: column;
outline: 1px solid var(--gr3);
outline-offset: -10px;
border-radius: 5px;
color: var(--gr4);
z-index: 4;
position: absolute;
}

.baul-hs span dt:before {
content: "╰┈➤";
padding-right: 5px;
color:var(--acentoo);
}

.baul-hs .imas:before {
content: "";
background: linear-gradient(180deg, var(--acentoo), var(--acento));
display: block;
position: absolute;
mix-blend-mode: multiply;
}

.baul-hs #indexmini img {
filter: grayscale(1);
width: auto;
height: 100%;
}

#index:before {
width: 297px;
height: 390px;
}

#inicio h5 {
left: 0;
top: 476px;
z-index: 5;
background: var(--bg1);
}


.baul-hs #indexmini {
position: absolute;
width: 150px;
height: 150px;
overflow: hidden;
right: 25px;
bottom: 10px;
z-index: 4;
border-radius: 100%;
border: 10px solid var(--bg3);
outline: 1px solid var(--acentoo);
outline-offset: -6px;
text-align:center;
}

#indexmini:before {
width: 150px;
height: 150px;
border-radius: 100%;
z-index: 2;
}

.baul-hs #index {margin-top:95px;}

.baul-hs p {
border-top: 1px solid var(--gr3);
margin-top: -46px;
padding: 35px 126px 0px 50px;
text-align: center;
display: flex;
column-gap: .8em;
width: 75%;
margin-bottom: -130px;
justify-content: flex-start;
column-count:2;
flex-wrap: wrap;
row-gap: 1em;
}


#crono h5, #relas h5 {
position: relative;
margin-left: 0;
font-size: 20px;
}

#crono p a i {
display: inline-block;
}

#crono p a i, #crono p a b {
color: var(--ctext) !important;
background: var(--ctext);
background-clip: text;
font-weight: 400;
}

#crono p a b {
display: block;
}

#crono p a:before {
content: "\f09c";
float: left;
display: inline-block;
height: 60px;
font-family: 'FontAwesome';
font-size: 30px;
margin-right: 20px;
margin-top: 8px;
}

a#cerrado:before {
content: "\f023" !important;
}

#crono p, #relas p {
margin-top: 72px;
padding: 50px;
width: 86%;
text-align: left;
column-gap: 1em;
row-gap: 1em;
font-family: 'Poppins';
margin-left:50px;
}

#crono p a b:before {
content: "╰┈➤";
margin: 0 5px;
background: var(--acentoo);
background-clip: text;
}

a#cerrado {
background: -webkit-linear-gradient(40deg, var(--ctext), var(--gr1));
opacity:0.85;
}

.relasbs {margin-left:50px;}


#crono p a {
font-size: 15px;
line-height: 12px;
display: block;
width: 245px !important;
position: relative;
height: 30px;
border-radius: 10px;
padding: 22px 15px 22px;
border: 1px solid var(--gr3);
}

#crono p a i, #crono p a b {
font-style: normal;
line-height: 12px;
font-size: 12px;
}

#crono h4 b {
font-size: 65px;
}


.relasbs b {
-webkit-text-stroke: .5px var(--gr4);
color: var(--gr4);
font-size: 18px;
display: inline-block;
margin-left: 8px;
text-transform: capitalize;
height: 28px;
border-bottom: 1px solid var(--gr3);
text-align: left;
width: 80%;
overflow: hidden;
float: right;
}

#relas strong {
font-size: 25px;
}

#rela:before {
width: 150px;
height: 150px;
z-index: 2;
border-radius: 100%;
}

#rela img {
filter: grayscale(1);
border-radius: 100%;
width:100%;height:100%;
}

#rela {
width: 150px;
height: 150px;
border-radius: 100%;
margin-left: 200px;
transform: scale(0.8);
margin-top: -10px;
position: absolute;
border: 10px solid var(--bg3);
}

#relas span {
height: 14em;
}


#relas .relasbs span {
display: block;
position: relative;
top: 0;
background: var(--bg2);
width: 16em !important;
margin-right: 12px;
height: 165px;
padding:1em;
}

.relasbs span {
transform: scale(.82);
}
.relasbs {
padding: 50px;
margin-top: 70px;
z-index: 4;
position: relative;
display: flex;
gap: 1em;
margin-bottom: -150px;
flex-wrap: wrap;

}

#relas h5 {
font-size: 12px;
top: 0px;
left: 0;
width: 192px;
height: 115px;
overflow-x: auto;
background: transparent;
text-transform: none;
line-height: 12px;
text-align: left;
padding: 10px;
position: relative;
color: var(--gr4);
letter-spacing: 1px;
}

#inicio h4 a {
left: 0em;
font-size: 80px;
line-height: 110px;
right: 222px;
font-family: 'Fira Sans';
}

#crono h4 a {
left: 0;
top: -30px;
right: 215px;
}


#relas h4 a {
left: 0;
font-size: 80px;
top: -25px;
margin-left: 5px;
right: 250px;
}


#crono p:last-of-type {
margin-bottom: 100px;
}


/*POST*/

.post-hs {
width:400px;
min-height:100px;
background:var(--bg3);
height:auto;
position:relative;
margin: 10px auto;
overflow:hidden;
border-radius:20px;
border:solid 1px var(--gr3);
padding:20px;font:10px/10px Noto Sans;
} 

.post-hs strong, .post-hs a, .post-hs h4 i {
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;
background: -webkit-linear-gradient(40deg,var(--acentoo), var(--acento));} 

.post-hs h4 {
margin: 0 auto;
border-bottom: 1px solid var(--gr3);
padding: 20px;
text-align: center;
font-size: 12px;
display: flex;
gap: 8px;
} 

.post-hs h4 i {
font-size: 60px;
display: block;
margin-bottom: 8px;
}

.post-hs h4 a:before {
content: "╰┈➤";
margin-right: 5px;
color: var(--gr4) !important;
} 

.post-hs p {
font-family: Poppins;
text-align: justify;
padding: 20px 20px 32px;
line-height: 18px;
margin-bottom: -210px;
font-size: 14px;
hyphens: auto;
}

.post-hs h4 b {
font-size: 25px;
line-height: 20px;
text-transform: uppercase;
font-weight: 800;
display: block;
font-family: 'Fira Sans';
letter-spacing: 2px;
width: 80%;
color:var(--gr4) !important;
margin-top:18px;
}

.post-hs datos {
font-family: 'Fira Sans';
font-size: 10px;
line-height: 10px;
margin-left: 10px;
font-weight: 300;
position: absolute;
z-index: 1;
bottom: 20px;
left: 8px;
text-transform: uppercase;
background: var(--bg2);
border-radius: 5px;
padding: 5px 10px;
letter-spacing: 3px;
text-align: left;
width: 245px;
color: var(--gr4);
}

.post-hs p i {color:var(--acentoo);} 

#yf strong, #yf i strong, #yf strong i {
background: linear-gradient(45deg, var(--acentoo), hsl(from var(--acentoo) calc(h + var(--hsl)) s l)) !important;
background-clip: text !important;
}

#kyw p i {color:var(--yoonie);} 
#kyw:after { background: linear-gradient(90deg, var(--yoonie), var(--acento));} 
#kyw strong, #kyw a, #kyw h4 i {background: -webkit-linear-gradient(40deg,var(--yoonie), var(--acento));}

#kyw span {
font-family: Poppins;
padding: 0 !important;
line-height: 18px;
background: none;
border-radius: 0px;
padding: 0px !important;
letter-spacing: 0px;
text-transform: none;
width: auto !important;
position: relative;
font-size: 12px;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: 0px !important;
}

.post-hs h4 b a {
font-size: 12px;
}

.post-hs r {
padding: 5px 10px;
margin: 20px 0 -10px;
font-size: 10px;
text-align: right;
width: 100%;
border: 1px solid var(--gr2);
display: block;
border-radius: 10px;
background:var(--bg2);
}

.post-hs:after, .firma-hs:after { background: linear-gradient(90deg, var(--acentoo), var(--acento));} 

.post-hs:after, .firma-hs:after {
content: "";
width: 700px;
height: 400px;
display: block;
margin-left: -62px;
margin-bottom: -120px;
transform: rotate(-8deg);
}

.post-hs:after, .baul-hs:after, .baul-hs:before, .inv-hs:before, .inv-hs:after, .firma-hs:after {clip-path: polygon(100% 100%, 0% 100% , 0.00% 52.52%, 1.00% 51.35%, 2.00% 50.16%, 3.00% 48.98%, 4.00% 47.80%, 5.00% 46.63%, 6.00% 45.49%, 7.00% 44.38%, 8.00% 43.30%, 9.00% 42.27%, 10.00% 41.29%, 11.00% 40.37%, 12.00% 39.52%, 13.00% 38.73%, 14.00% 38.02%, 15.00% 37.39%, 16.00% 36.84%, 17.00% 36.38%, 18.00% 36.01%, 19.00% 35.74%, 20.00% 35.56%, 21.00% 35.47%, 22.00% 35.48%, 23.00% 35.59%, 24.00% 35.80%, 25.00% 36.10%, 26.00% 36.49%, 27.00% 36.98%, 28.00% 37.55%, 29.00% 38.20%, 30.00% 38.93%, 31.00% 39.74%, 32.00% 40.61%, 33.00% 41.55%, 34.00% 42.54%, 35.00% 43.58%, 36.00% 44.67%, 37.00% 45.79%, 38.00% 46.94%, 39.00% 48.11%, 40.00% 49.29%, 41.00% 50.48%, 42.00% 51.66%, 43.00% 52.83%, 44.00% 53.99%, 45.00% 55.11%, 46.00% 56.21%, 47.00% 57.26%, 48.00% 58.26%, 49.00% 59.21%, 50.00% 60.10%, 51.00% 60.92%, 52.00% 61.66%, 53.00% 62.33%, 54.00% 62.92%, 55.00% 63.42%, 56.00% 63.83%, 57.00% 64.15%, 58.00% 64.37%, 59.00% 64.50%, 60.00% 64.53%, 61.00% 64.47%, 62.00% 64.31%, 63.00% 64.05%, 64.00% 63.70%, 65.00% 63.26%, 66.00% 62.73%, 67.00% 62.11%, 68.00% 61.42%, 69.00% 60.64%, 70.00% 59.80%, 71.00% 58.89%, 72.00% 57.92%, 73.00% 56.90%, 74.00% 55.84%, 75.00% 54.73%, 76.00% 53.60%, 77.00% 52.43%, 78.00% 51.26%, 79.00% 50.07%, 80.00% 48.88%, 81.00% 47.71%, 82.00% 46.54%, 83.00% 45.40%, 84.00% 44.29%, 85.00% 43.22%, 86.00% 42.19%, 87.00% 41.22%, 88.00% 40.30%, 89.00% 39.45%, 90.00% 38.67%, 91.00% 37.97%, 92.00% 37.34%, 93.00% 36.80%, 94.00% 36.35%, 95.00% 35.99%, 96.00% 35.72%, 97.00% 35.55%, 98.00% 35.47%, 99.00% 35.49%, 100.00% 35.61%);}
